.tictactoe {
    background: linear-gradient(to right,#ffffff, #007bff82);
    color: darkblue;
    min-height: 1000px;

    table, th, td {
        background: white;
        border: 1px solid black;
        text-align: center;
        padding: 45px 45px;
        border-collapse: separate;

        td {
            height: 120px;
            width: 120px;
        }

    }

}