.twitch-client {
    background: #7200f5;
    color: white;
    min-height: 1000px;

    .card {
        flex-direction: row;
        color: black;
        
        img {
            width: 150px;
            height: 150px;
        }
        
    }
}