@mixin buttons-margins {
    margin: 50px;
}
.random-quote-machine {
    height: 1000px;
    background: salmon;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;

    .getquote {
        @include buttons-margins()
    }
    .twitter-share-button {
        @include buttons-margins()
    }
    
}