@mixin transite {
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.wikipedia-viewer {
    height: 1000px;
    
    .collapse  {
        @include transite;
        display:none;
    }

    .form-inline {
        @include transite;
        margin-top: -40px;
    }
    

}