@mixin transite {
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
}

.wikipedia-viewer {
    min-height: 800px;
    
    .form-inline {
        @include transite;
        margin-top: -40px;
    }
    

}