.recipe-box {
    background: #425566;
    color: white;
    min-height: 900px;

    .recipecard {
        flex-direction: row;
        .card-header {
            color: #212529;
            background-color: #e2e6ea;
            .btn-link { color: inherit; }
        }
        .card-body {
            color: #212529;
            background-color: white;
            .list-group {
                
                margin-bottom: 20px;
            }
        }
        .card-footer {
            margin-top: 20px;
        }


    }
    .modal-title {
        margin-bottom: 10px;
    }
    .modal-prep {
        
    }
    .modal-ing {
        margin-bottom: 10px;
    }
}